* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
/* 
.li-style {
  display: flex;
  justify-content: space-between;
}

.li-style a {
  flex: 1;
  margin: auto;
} */
